@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: hsl(216, 12%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main,
section {
  background: linear-gradient(hsl(213, 19%, 18%), hsl(213, 19%, 14%));
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

section {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

section img {
  width: 50%;
  height: auto;
}

.c {
  background: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  padding: 5px 12px;
  border-radius: 50px;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 20px 0;
}

.img {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: hsl(213, 19%, 20%);
}

.img img {
  width: 40%;
  height: auto;
  margin: 0;
}

p,
.num div {
  margin: 0;
  font-family: "Overpass", sans-serif;
}

.a {
  font-size: 20px;
  margin: 15px 0;
  color: white;
}

.d {
  font-size: 25px;
  color: white;
  margin: 0 0 10px 0;
}

.e {
  font-size: 12px;
  color: hsl(216, 12%, 54%);
  text-align: center;
}

.b {
  font-size: 14px;
  color: hsl(216, 12%, 54%);
}

.num {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.num div {
  width: 18%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: hsl(216, 12%, 54%);
  background: hsl(213, 19%, 18%);
  font-weight: 700;
}

#g {
  background: hsl(216, 12%, 54%);
  color: white;
}

.num div:hover {
  color: white;
  background: hsl(25, 97%, 53%);
}

button {
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  width: 100%;
  height: 40px;
  background: hsl(25, 97%, 53%);
  color: white;
  letter-spacing: 3px;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
  font-family: "Overpass", sans-serif;
}

button:hover {
  background: white;
  color: hsl(25, 97%, 53%);
}
